.login-Form-items p{
    color: rgba(180, 23, 23, 0.904);
    font-size: .8rem;
}

.form-Container{
    margin: 100px auto;
    width: 1000px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.close-btn{
    position: absolute;
    top: 2%;
    right: 3%;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
}

.left-Form{
    background: linear-gradient(
    90deg,
    rgba(72, 172, 172, 0.918) 0%,
    rgba(38, 109, 109, 0.918) 100%
    );
  border-radius: 10px 0 0 10px;
  position: relative;
}

.right-Form{
    border-radius: 0 10px 10px 0;
    position: relative;
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(224, 229, 241) 100%);
}

.login-Form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-Form h1{
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.login-Form-inputs{
    border: .1rem solid rgba(72, 172, 172, 0.918);
    padding: 1rem;
    outline: none;
    width: 100%;
    height: 1rem;
    margin-bottom: .2rem;
    display: block;
    background-color: transparent;
    border-radius: 2px;    
    margin-top: 1rem;
}

.login-Form-labels{
    display: inline-block;
    font-size: .8rem;
    margin-bottom: 0rem;
}

.login-Form-btn{
    width: 100%;
    padding: .7rem;
    margin-top: 10px;
    border-radius: 2px;
    background: linear-gradient(
    90deg,
    rgba(72, 172, 172, 0.918) 0%,
    rgba(38, 109, 109, 0.918) 100%
    );
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}

.login-Form-btn:hover{
    background-color: rgba(55, 156, 156, 0.918);
    cursor: pointer;
    transition: 100ms;
}